body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ddd;
    align-content: space-between;
    align-items: center;
    /*padding-left: 10px;
    padding-right: 10px;*/   /*these codes is making the header not to fit*/
}
.humberger{
    width: 50px;
    position: relative;
}
.humberger-image{
    width:100% ;  
    cursor: pointer;
}

/*
Let's go with making the list for the courses looking nice!!!
*/
ul[id='courses']{
    position: absolute;
    box-shadow: 0rem 0rem 0.0625rem;
    border: none;
    position: absolute;
    list-style: none;
    width: 330px;
    display: none;
    background-color: #f9f9f9;
    z-index: 2;
    line-height: 20px;
    top: 30px;
    left: 0;
    padding-left: 5px;
}
header a{
    text-decoration: none;
}
header a:hover{
    color: orange;
}
header h1{
    font-family: Arial;
    font-size: 16px;
    flex: 1;
    text-align: center;
    color: rgb(238, 167, 34);
}
.school-logo-container{
    width: 50px;
}

.school-logo-image{
 width: 100%;
 object-fit: contain;
}
.student-login-image{
    width: 100%;
    object-fit: contain;
    
}
.student-login-container{
    width: 50px;
}


.home-image{
    width: 100%;
}
.family{
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 40px;
}
main p{
    width: 200px;
}
main img[alt='chanco']{
    display: none;
}
.chanco-tree{
    display: none;
}
footer{
    text-align: center;
    margin-bottom: 10px;
}
footer a{
    margin-left: 10px;
    text-decoration: none;
}


@media only screen and (min-width:768px){
    header{
     display: grid;
     grid-template-columns: 100px 1fr 100px 100px;
    }

    header h1{
        font-family: Arial;
        font-size: 22px;
        flex: 1;
        text-align: center;
        color: rgb(238, 167, 34);
    }

    .homepage-contianer{
        display: flex;
        flex: 1;
        position: relative;
    }
    .home-image{
        width: 100%;

}
.homepage-contianer{
    display: flex;
    flex: 1;
    position: relative;
}
.home-image{
    width: 100%;

}
.family-image{
    position: absolute;
    top: 250px;
    right: 100px;
    opacity: 0.8;
    width: 400px;
}
.family{
    font-size: 20px;
    margin-top: 10px;
    display: flex;
}
.family p{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 600px;
}
main img[alt='chanco']{
 flex: 1;
 display: block;
 position: relative;
}
.chanco-container{
    position: relative;
}
.chanco-tree{
    position: absolute;
    top: 50px;
    width: 60%;
    right: 0;
    opacity: 0.8;
    display: block;
}
}
