* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.folder-container {
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #3498db;
    font-size: 18px;
    transition: color 0.3s;
}

ul li a:hover {
    color: #2980b9;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
